.skeleton {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.skeleton__container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.skeleton__block {
  border-radius: 50px;
  background: var(--skeleton-gradient);
}

.skeleton__block_circle {
  width: 72px;
  height: 72px;
}

.skeleton__block_string_large {
  width: 144px;
  height: 16px;
}

.skeleton__block_string_small {
  width: 80px;
  height: 12px;
}
